$blue: #003744;
$green: #1A554F;
$orange: #FDA856;
$tan: #F6FE91;



body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: darken($green, 10%);
  font-weight: 400;
}

h2 {
  
}


/*  NAVIGATION STYLES */
nav {
  background: $blue;
  h2 {
    margin-left: 10px;
    margin-top: 15px;
    color: #fff;
  }
  ul {
    margin-top: 20px;
    margin-right: 20px;
  li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    a {
      color: white;
      text-decoration: none;
     &:hover {
      color: $orange;
      transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
/* END NAVIGATION */

.about-content {
  background:
  img {
    // margin-top: 20px;
  }
    h2 {
      // margin-top: 20px;
    }
}

.project-content {
  border: 1px solid black;
  background: $blue;
  height: 500px;
  h2 {
  color: white;
}
}

.project {
  border: 1px solid white;
  margin-top: 3px;
  height: 200px;
  width: 200px;
}

.skills-content {
  height: 300px;
  h3 {
    margin-top: 40px;
  }
}

.contact-content {
  background: $blue;
  color: #fff;
  #right-inline {
    color: #fff;
  }
}

.about-content, .project-content, .skills-content,  {
  margin-top: 10px;
}

footer {
  height: 40px;

  li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
}
}
