$blue: #003744;
$green: #1A554F;
$orange: #FDA856;
$tan: #F6FE91;


body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: white;
  font-weight: 400;
  background: $green;
}

h2 {
  color: white;
  margin-top: 23px;
}


/*  NAVIGATION STYLES */
nav {
  background: $blue;
  h2 {
    margin-left: 10px;
    margin-top: 15px;
    color: #fff;
  }
  ul {
    margin-top: 25px;
    margin-right: 20px;
  li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    a {
      color: white;
      text-decoration: none;
     &:hover {
      color: $orange;
      cursor: pointer;
      transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
/* END NAVIGATION */

.about-content {
  img {
    border: none;
    background-blend-mode: multiply;
  }
}


.project-content {
  background: $blue;
  height: 500px;
  margin-bottom: 20px;
  .row {
  height: 200px;
  padding: 5px;
  }
  h2 {
  color: white;
  }
}

.project {
  margin: 5px;
  height: 200px;
  border: 1px $orange inset;
}


.skills-content {
  height: 300px;
  .skill-slider {
  }
}

.contact-content {
  background: $blue;
  color: #fff;
  #right-inline {
    color: #fff;
  }
}

.about-content, .project-content, .skills-content,  {
  margin-top: 10px;
}

label {
  color: #fff;
}

*:focus {
    outline: none;
}

input[type="text"] {
    border: none;
    background: transparent;
    /*background-color: blue;*/
  }

footer {
  height: 40px;

  li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  }
  p {
    margin-top: 20px;
    margin-left: 10px;
  }
  a {
    color: $orange;
  &:hover {
      color: $tan;
    }
  }
}
