$blue: #003744;
$green: #1A554F;
$orange: #FDA856;
$tan: #F6FE91;


body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  color: white;
  background: $green;
}

section {
  padding: 30px 0;
}

h2, h3, h4 {
  color: white;
  font-family: 'PT Serif', serif;
}


/*  NAVIGATION STYLES */
nav {
  background: $blue;
  h2 {
    margin-left: 10px;
    margin-top: 15px;
    color: #fff;
  }
  ul {
    margin-top: 25px;
    margin-right: 20px;
    text-align: right;
  li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    a {
      color: white;
      text-decoration: none;
     &:hover {
      color: $orange;
      cursor: pointer;
      transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
/* END NAVIGATION */

.about-content {
  img {
    border: none;
    // box-shadow: 5px 10px 35px #111;
    border-radius: 50%;
  }
}


.project-content {
  background: $blue;
  height: 500px;
  margin-bottom: 20px;
  .row {
  height: 200px;
  padding: 5px;
  }
  h2 {
  color: white;
  }
}

.project {
  // height: 200px;
  // border: 1px $orange inset;
  &:hover {
    background: $green;
    opacity: 0.8;
    color: black;
  }
  h3 {
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
  }
}


.skills-content {
  height: 300px;
  .skill-slider {
    margin-top: 80px;
  }
}

.contact-content {
  background: $blue;
  color: #fff;
  text-align: center;
  #right-inline {
    color: #fff;
  }
}

form {
  width: 100%;
  text-align: center;
}

// .about-content, .project-content, .skills-content,  {
//   margin-top: 10px;
// }

label {
  color: #fff;
}

  input[type=text], select {
      background-color: transparent;
      border: 1px solid $orange;
      color: black;
      text-align: center;
      margin: 10px;

  }

  input:focus {outline: none;}


  textarea {
    background-color: transparent;
    border: 1px solid $orange;
    color: $blue;
  }

footer {
  height: 40px;

  li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  }
  p {
    margin-top: 20px;
    margin-left: 10px;
    color: $orange;
  }
  a {
    color: $orange;
  &:hover {
      color: $tan;
    }
  }
}
